<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Todolist</title>
</head>
<body>
    
    <div id="app">

        <!-- parte d'intestazione -->
        <div class="logo">
            <img src="img/todolist.png" alt="">
        </div>

        <!-- gestione task input -->
        <div class="new-task">
            <input type="text" placeholder="Nuova task" v-model="message" @keyup.enter="addTask">
            <button @click = "addTask"> Aggiungi </button>
        </div>

        <!-- gestione errori -->
        <div class="error">
            <small> Devi inserire una task di almeno 7 caratteri</small>
        </div>


        <!-- gestione  task output -->
        <div class="tasks-container">
            <ul v-if="todos.length > 0 ">
                <li class="task" v-for="(task,i) in todos" :key="i" :class=" todos[i].done ? 'delete' : '' ">
                    {{ task.text }}
                    <i @click="delTask" class="fa-solid fa-xmark"></i>
                </li>
            </ul>
            <h2 v-else> Non ci sono task </h2>
        </div>



    </div>

    <script src="js/script.js"></script>
</body>
</html>